div.container {
  border: 1px solid #999;
}

input.button {
  background: blue;

  border-radius: 100%;

  font-size: 20px;

  color: white;

  height: 50px;
}

hr {
  height: 2px;

  background-color: red;
}
td.cinza {
  background-color: gray;
}

td.cinzaclaro {
  background-color: #d3d3d3;
}

th,
td {
  padding-left: 80px;

  padding-right: 80px;

  text-align: center;
}
td.saldtd,
th.saldth {
  padding-left: 40px !important;

  padding-right: 40px !important;
}

td.saldtd input {
  width: 70px;
}

input.ativa.button {
  background: yellow;

  font-size: 12px;

  color: black;

  height: 30px;

  width: 30px;
}
td.elitd,
th.elith {
  padding-left: 60px !important;

  padding-right: 60px !important;
}

input.delete.button {
  background: red;

  height: 30px;
}
